{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!--Topic Heading with image-->
<div class="bg-light">
  <div class="container py-2">
    <div class="row h-100 align-items-center py-2">
      <div class="col-lg-6">
        <h3>{% trans "Sign In" %}</h3>
        <p>{% blocktrans %}Welcome back to Simply Swimming.
          If you have not created an account yet, 
          then <a class="link" href="{{ signup_url }}">sign up</a>
          first.{% endblocktrans %}
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <img src="https://res.cloudinary.com/manasi1031/image/upload/v1642204669/Simply-Swimming/advanced-swimming1_mr0aps.png" alt="Advanced swimming class" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<!--Blank section for visual UX-->
<div class="py-2">
</div>

<!--Login form section-->
<div class="bg-light py-2">
  <div class="container py-2 bg-light">
    <form class="login mx-auto text-center" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-dark text-center m-2" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
</div>

{% endblock %}
