{% extends "base.html" %}

{% block content %}

<!--Topic Heading with image-->
<div class="bg-light">
    <div class="container py-2">
        <div class="row h-100 align-items-center py-2">
            <div class="col-lg-6">
                <h1 class="display-4">About us page</h1>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <img src="https://res.cloudinary.com/manasi1031/image/upload/v1642204669/Simply-Swimming/advanced-swimming1_mr0aps.png" alt="Advanced swimming class" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!--About us brief-->
<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div>
                <p class="font-italic mb-4">Hi, I am Trixie Miller, the proud owner and founder of Simply Swimming, running since 2004! My Ockendon based, private swim company caters for all ages and ability levels, specialising in Baby and Toddler groups. My motivational classes are tailored around each individual, enabling them to benefit the most out of their class.
                    We take pride in the short amount of time we can get our clients to swim competently and efficiently whilst enjoying the process!
                </p>
                <p class="font-italic mb-4">
                    My affordable lessons are taught by myself and my highly qualified and experienced instructors; I ensure each instructors qualifications are continuously updated as my clients safety is a priority and all hold an Enhanced DBS.
                </p>
                <p class="font-italic mb-4">
                    Taking the plunge to go independently, I completed various STA qualifications which allowed me to start the foundation of my company. From only starting off with a few clients, I gradually grew my business initially through ‘word of mouth’ alone, to eventually increasing in popularity and the demand for both simply Swimming allowed me to expand through out Thurrock.
                </p>
            </div>
        </div>
    </div> 
</div>   

<!--Coaches or team info-->
<div class="bg-light py-2">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our Team</h2>
                <p class="font-italic text-muted">Please meet our Elite team of coaches.</p>
            </div>
        </div>
        <div class="card m-3 col-10 mx-auto">
            <div class="row no-gutters">
                {% for coach in coach_list %}
                <div class="col-md-2">
                {% if "placeholder" in coach.profile_image.url %}
                    <img class="img-thumbnail" src="https://res.cloudinary.com/manasi1031/image/upload/v1642371921/Simply-Swimming/coach-1_r4dw0o.jpg" alt="coach_image">
                {% else %}
                    <img class="img-thumbnail" src="{{ coach.profile_image.url }}" alt="">
                {% endif %}
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">{{ coach.coach_name }}</h5>
                        <p class="card-text">{{ coach.title }}</p>
                        <p class="card-text">{{ coach.about }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- End-->
    </div>
</div>

{%endblock%}