{% extends "base.html" %}

{% block content %}

<!--Topic Heading with image-->
<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">Contact us page</h1>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <img src="https://res.cloudinary.com/manasi1031/image/upload/v1642204672/Simply-Swimming/swimming-pool_zyk5x7.png" alt="Empty Swimming Pool" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!--About us brief-->
<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa-solid fa-water-ladder"></i>
                <h2 class="text-center mt-3">Contact Us</h2>
                <br>
                <p class="text-center mt-2 mb-1">Feel free to ask a question or just give us some feedback or pop us a message!</p>
            </div>
        </div>
    </div> 
</div>   

<!--Contact form-->
<div class="bg-light py-5">
    <div class="container py-5">
        <form id="form" method="post" class="mt-2">
            
        </form>
    </div>
</div>

{%endblock%}