{% extends "base.html" %}

{% block content %}

<!--Topic Heading with image-->
<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">Courses</h1>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <img src="https://res.cloudinary.com/manasi1031/image/upload/v1642204672/Simply-Swimming/swimming-pool_zyk5x7.png" alt="Empty Swimming Pool" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!--Course Image-->
<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="img-fluid w-100">
                <!--add image here for class-->
            </div>
        </div>
    </div> 
</div>   

<!--Course information-->
<div class="bg-light py-5">
    <div class="container py-5 text-center">
        <!--course title-->
        <h1>Add title</h1>
        <!--course content-->
        <p>content</p>
    </div>
</div>

<!--Click to book new or check existing bookings-->
<div class="text-center">
    <h3>Click here to view your bookings</h3>
    <h3>Click here to make a new booking request for availability</h3>
</div>

{%endblock%}