{% extends "base.html" %}

{% block content %}

<!--Topic Heading with image-->
<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">Courses</h1>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <img src="https://res.cloudinary.com/manasi1031/image/upload/v1642204672/Simply-Swimming/swimming-pool_zyk5x7.png" alt="Empty Swimming Pool" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!--Course Image-->
<div class="bg-white py-2">
    <div class="container py-2">
        <div class="align-items-center">
            <div class="img-fluid">
                <!--add image here for class-->
                {% if "placeholder" in course.image.url %}
                <img src="https://res.cloudinary.com/manasi1031/image/upload/v1642204666/Simply-Swimming/kids-swimming3_xsqxu4.png">
                {% else %}
                <img src="{{ course.image.url }}">
                {% endif %}
            </div>
        </div>
    </div> 
</div>   

<!--Course information-->
<div class="bg-light py-2">
    <div class="container py-2 text-center">
        <!--course title-->
        <h1 class="text-center">{{ course.course_name }}</h1>
        <!--course content-->
        <div class="col-lg-8 container text-center border border-1 px-4 py-2 mb-2">
            {{ course.content | safe }}
        </div>
    </div>
</div>

<!--Click to book new or check existing bookings-->
<div class="text-center">
    <h3>Click here to view your bookings</h3>
    <h3>Click here to make a new booking request for availability</h3>
</div>

{%endblock%}