{% extends "base.html" %}

{% block content %}

<!-- Header text -->
<div class="hero-container">
    <img class="hero-picture" src="https://res.cloudinary.com/manasi1031/image/upload/v1642204669/Simply-Swimming/hero-image_hwlm50.png" alt="Hero Picture">
    <div class="hero-header">
        <h2>SWIM AND PLAY</h2>

        <a href="#" class="btn btn-primary">Book an Appointment</a>
    </div>
</div> 

<!--Main page about information--> 
<div class="container-fluid text-center">
    <h3 class="pt-3">Providing excellent swimming tuition tailored to everyones needs in Ockendon.</h3>
    <p>Whether you are looking for motivating groups or private one to ones,
        Simply Swimming offers a variety of lessons to cater for everyone.
    </p>
</div>
<hr>

<!-- Courses display -->
<div class="container-fluid">
    <h3 class="text-center">Available courses:</h3>
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 coursecard">
                            <div class="card-body">
                                <a href="#" class="course-link">
                                    <div class="image-container">
                                    </div>
                                    <h3 class="card-title"></h3>
                                    <p class="card-text"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                <div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>

</div>

{%endblock%}